@page
@model JokesWebApp.Pages.JokeCategories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>JokeCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JokeCategory.Joke)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JokeCategory.Joke.JokeId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JokeCategory.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JokeCategory.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.JokeCategory.JokeCategoryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
